@model TestWebAppController.ModelEmpty
@{
    Model._MarkNotNull();
    Page.Title = "Hello";
}

<h2 class="title is-4">@Page.FullTitle</h2>

<div class="box">
    <div class="content">
        <h3 class="title is-4">見出し 1</h3>
        <p>本文 1</p>

        <p>&nbsp;</p>
        <h3 class="title is-4">見出し 2</h3>
        <p>本文 2</p>

        <p>&nbsp;</p>
        <h4 class="title is-5">見出し 2-1</h4>
        <p>本文 2-1</p>

        <p>&nbsp;</p>
        <h4 class="title is-5">見出し 2-2</h4>
        <p>本文 2-2</p>

        <p>&nbsp;</p>
    </div>
</div>

@section Scripts {
    <script>
    </script>
}

